
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>about us</title>
    <!-- <script type="text/javascript">
      $(document).ready(function(){
        $("div").c(function(){
          $("div").animate({left:'250px'});
        });
      });
    </script> -->

  </head>


  <body>

<div class="">
  <h2 style="text-align:center">Our Work</h2>


  <div class="wrapper">
    <div class="photos photos-1">
      <h3 class="Work"style="color: red">Work</h3>
    <p style="color:yellow"> Firefly is committed to providing a set of robust tools, like live chat and mapping, aimed at tackling an increased rate of youth-related violence by allowing everyone to contribute towards safer neighbourhoods and build strong communities that can share essential information with public authorities.</p>
    <p></p>

    <h5 style="color:yellow">Group6 | Surrey | Guildford | UK</h5>
    </div>
    <div class="photos photos-2">
        <img src="assets/knife_s.jpg" height="435.5px" width="607.33px" alt="">
    </div>
    <div class="photos photos-3">
        <img src="assets/care.jpg" height="435.5px" width="607.33px" alt="">
    </div>
    <div class="photos photos-4">
        <img src="assets/stopcrime.jpg" height="435.5px" width="607.33px" alt="">
    </div>
    <div class="photos photos-5">
        <img src="assets/forbidden.png" height="435.5px" width="607.33px" alt="">
    </div>
    <div class="photos photos-6">
        <img src="assets/data.jpg" height="435.5px" width="607.33px" alt="">
    </div>

  </div>

  <h2 class="Services" style="text-align:center">Our Services</h2>

  <div class="wrapper">
    <div class="photos photos-8">
    <h3 style="color: red"> Services</h3>
    <p style="color: black" > From a police perspective, the project title allows users to feed back the data and advice into the app to help further refine the area security assessment. The SOS button and its accompanying functions allow the police to obtain the specific location of the alarm user more quickly and take action once the alarm is received, so as to increase the probability of the user being rescued in the event of a crime. </p>
    <p></p>
    <h5 style="color:black">Group6 | Surrey | Guildford | UK</h5>
    </div>
    <div class="photos photos-2">
        <img src="assets/sos.png" height="435.5px" width="607.3px" alt="">
    </div>
    <div class="photos photos-3">
        <img src="assets/peaceful.jpg" height="435.5px" width="607.3px" alt="">
    </div>
    <div class="photos photos-4">
        <img src="assets/stopcrime.jpg" height="435.5px" width="607.3px" alt="">
    </div>
    <div class="photos photos-5">
        <img src="assets/about us_firefly.jpg" height="435.5px" width="607.3px" alt="">
    </div>
    <div class="photos photos-6">
        <img src="assets/data.jpg" height="435.5px" width="607.3px" alt="">
    </div>
  </div>

  <h2 class="Social" style="text-align:center">Our Social</h2>


  <div class="wrapper">
    <div class="photos photos-1">
    <p style="color:yellow"> Firefly is committed to providing a set of robust tools, like live chat and mapping, aimed at tackling an increased rate of youth-related violence by allowing everyone to contribute towards safer neighbourhoods and build strong communities that can share essential information with public authorities.</p>
    <p></p>
    <p id="demo">demo</p>
    <h5 style="color:yellow">Group6 | Surrey | Guildford | UK</h5>
    </div>
    <div class="photos photos-2">
        <img src="assets/footer_image.jpg" height="435.5px" width="607.3px" alt="">
    </div>
    <div class="photos photos-3">
        <img src="assets/assets/care.jpg" height="435.5px" width="607.3px" alt="">
    </div>
    <div class="photos photos-4">
        <img src="assets/stopcrime.jpg" height="435.5px" width="607.3px" alt="">
    </div>
    <div class="photos photos-5">
        <img src="assets/about us_firefly.jpg" height="435.5px" width="607.3px" alt="">
    </div>
    <div class="photos photos-6">
        <img src="assets/data.jpg" height="435.5px" width="607.3px" alt="">
    </div>
  </div>







</div>




  </body>
</html>
