
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>about us</title>

    <script type="text/javascript">

      function changeImage(){
        let displayImage = document.getElementById('test');
        if(displayImage.src.match('assets/knife_s.jpg')){
          displayImage.src = 'assets/sad.jpg'
        }else{
          displayImage.src= 'assets/knife_s.jpg'
        }
       }

       function changeImage1(){
         let displayImage = document.getElementById('test1');
         if(displayImage.src.match('assets/care.jpg')){
           displayImage.src = 'assets/police.jpg'
         }else{
           displayImage.src= 'assets/care.jpg'
         }
        }

        function changeImage2(){
          let displayImage = document.getElementById('test2');
          if(displayImage.src.match('assets/stopcrime.jpg')){
            displayImage.src = 'assets/data.jpeg'
          }else{
            displayImage.src= 'assets/stopcrime.jpg'
          }
         }
         function changeImage3(){
           let displayImage = document.getElementById('test3');
           if(displayImage.src.match('assets/forbidden.png')){
             displayImage.src = 'assets/crimemap.jpeg'
           }else{
             displayImage.src= 'assets/forbidden.png'
           }
          }
          function changeImage4(){
            let displayImage = document.getElementById('test4');
            if(displayImage.src.match('assets/crime.png')){
              displayImage.src = 'assets/street.jpg'
            }else{
              displayImage.src= 'assets/crime.png'
            }
           }



      </script>

  </head>


  <body>




<div class="" style="background-color:#ebe121">


  <!-- <h2 style="text-align:center">Our Services</h2> -->


  <div class="wrapper">
    <div class="photos photos-1">
      <h3 class="title" style="color: red " >Work</h3>
    <p style="color:yellow"> Firefly is committed to providing a set of robust tools, like live chat and mapping, aimed at tackling an increased rate of youth-related violence by allowing everyone to contribute towards safer neighbourhoods and build strong communities that can share essential information with public authorities.</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>

    <h5 style="color:yellow">Group6 | Surrey | Guildford | UK</h5>
    </div>

    <div id="button" >
        <img  src="assets/knife_s.jpg" id="test"  height="466px" width="607.33px" alt="" onmouseover="changeImage()">

    </div>

    <div class="photos photos-3">
        <img src="assets/care.jpg" id="test1" height="466px" width="607.33px" alt="" onmouseover="changeImage1()">
    </div>





    <div class="photos photos-4">
        <img src="assets/stopcrime.jpg" id="test2" height="466px" width="607.33px" alt="" onmouseover="changeImage2()">
    </div>
    <div class="photos photos-5">
        <img src="assets/forbidden.png" id="test3" height="466px" width="607.33px" alt="" onmouseover="changeImage3()">
    </div>
    <div class="photos photos-6">
        <img src="assets/crime.png" id="test4" height="466px" width="607.33px" alt=""onmouseover="changeImage4()">
    </div>

  </div>



  <div class="wrapper">
    <div class="photos photos-8"style="background:url('assets/sos1.jpg')">
    <h3 class="title" style="color: red" > Services</h3>
    <p style="color: yellow" > From a police perspective, the project title allows users to feed back the data and advice into the app to help further refine the area security assessment. The SOS button and its accompanying functions allow the police to obtain the specific location of the alarm user more quickly and take action once the alarm is received, so as to increase the probability of the user being rescued in the event of a crime. </p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>


    <h5 style="color:black">Group6 | Surrey | Guildford | UK</h5>
    </div>

    <div class="photos photos-6 ">
    <h3 class="title" style="color: red">SOS button</h3>
    <img src="assets/grasslogo.png "height="100px" width="100px" alt="" style="txt-align:center">
    <p style="color: black" > From a police perspective, the project title allows users to feed back the data and advice into the app to help further refine the area security assessment. The SOS button and its accompanying functions allow the police to obtain the specific location of the alarm user more quickly and take action once the alarm is received, so as to increase the probability of the user being rescued in the event of a crime. </p>
    </div>
    <div class="photos photos-8 ">
    <h3 class="title" style="color: red">Map</h3>
    <p style="color: black">Use Here Maps/Google Maps API for real-time location tracking and mapping functionality. Use of Police Data API for real-time data collection and integration into the application. Retrieves data for crimes based on regions. </p>
    </div>
    <div class="photos photos-4">
      <h3 style="color: red"></h3>
      <p style="color: yellow"></p>
    </div>
    <div class="photos photos-8">
      <h3 class="title" style="color: red"></h3>
      <p style="color: black"></p>
    </div>
    <div class="photos photos-4">

    </div>
  </div>

  <!-- <h2 class="Social" style="text-align:center">Our Social</h2> -->


  <div class="wrapper1">
    <div class="photos photos-9" style="background:url('assets/socialweb.jpg')">
      <h1 style="color: red font-size: 40px">Start your jonery.</h1>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h2 class="txt" style="color: black"> Firefly is committed to providing a set of robust tools, like live chat and mapping, aimed at tackling an increased rate of youth-related violence by allowing everyone to contribute towards safer neighbourhoods and build strong communities that can share essential information with public authorities.</h2>
    <p></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 style="color: black font-size: 30px">Group6 | Surrey | Guildford | UK</h2>
    </div>

    <div class="photos phonts-10" >
        <img src="assets/social.jpg" height="921px" width="921px" alt="">
    </div>


  </div>







</div>




  </body>
</html>
