<form class="updating" style="text-align:center">

  <div class="name:">

      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Name:</label>
      </div>
      <div class="input">
        <input type="password" style="width:250px" id="" class="form" aria-describedby="passwordHelpInline">
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
          We'll never share your email with anyone else.
        </span>
      </div>

  </div>
  <div class="age">

      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Age:</label>
      </div>
      <div class="input">
        <input type="password" style="width:250px" id="" class="form" aria-describedby="passwordHelpInline">
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
          We'll never share your email with anyone else.
        </span>
      </div>

  </div>

  <div class="sex">

      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Sex:</label>
      </div>
      <div class="input">
        <input type="password" style="width:250px" id="" class="form" aria-describedby="passwordHelpInline">
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
          We'll never share your email with anyone else.
        </span>
      </div>

  </div>


  <div class="email">

      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Email address:</label>
      </div>
      <div class="input">
        <input type="password" style="width:250px" id="" class="form" aria-describedby="passwordHelpInline">
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
          We'll never share your email with anyone else.
        </span>
      </div>

  </div>


  <div class="password">
      <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Password:</label>
      </div>
      <div class="input">
        <input type="password" style="width:250px" id="" class="form" aria-describedby="passwordHelpInline">
      </div>
      <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
          Must be 8-20 characters long.
        </span>
      </div>
  </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
