.section_fir{
  background-color: #555;
 padding: 100px;
 text-align: center;
 font-size: 35px;
 color: white;
}




.section_sec{
  background-color: #666;
 padding: 100px;
 text-align: center;
 font-size: 35px;
 color: white;
}

.section_third{
  background-color: #777;
 padding: 100px;
 text-align: center;
 font-size: 35px;
 color: white;
}
