// body {
//     background: rgb(99, 39, 120)
// }
//
// .form-control:focus {
//     box-shadow: none;
//     border-color: #BA68C8
// }
//
// .profile-button {
//     background: rgb(99, 39, 120);
//     box-shadow: none;
//     border: none
// }
//
// .profile-button:hover {
//     background: #682773
// }
//
// .profile-button:focus {
//     background: #682773;
//     box-shadow: none
// }
//
// .profile-button:active {
//     background: #682773;
//     box-shadow: none
// }
//
// .back:hover {
//     color: #682773;
//     cursor: pointer
// }
//
// .labels {
//     font-size: 11px
// }
//
// .add-experience:hover {
//     background: #BA68C8;
//     color: #fff;
//     cursor: pointer;
//     border: solid 1px #BA68C8
// }
//
// .form-inputs{
//   width: 500px;
//   height: 400px;
//   background: #eee;
//   border-radius: 10px;
//   margin: 100px auto;
//   display: flex;
//   flex-direction:  column;
// }
// .form_login{
//   background-color: black;
// }
label{

   vertical-align: middle;
   display: inline-block;

}

*{
  padding: 0;
  margin: 0;
  font-family: 'Open Scans light';
  letter-spacing: .05em;

}
html{
  height: 100%;
}

body{
  height: 100%;
}
.form-inputs{
  height: 100%;
  background-image: linear-gradient(to right,#fbc2eb,#a6c1ee);
}

.login-wrapper {
  background-color: #fff;
  width: 484px;
  height: 500px;
  padding: 1px 0px;
  position: absolute;
  left:37%;
  border-radius:  32px;
  top: 22%;
  transform: translateX(-50%, -50%);
}
.login-wrapper .header{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 200px;
}
.login-wrapper .from-wrapper {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border:none;
  padding: 10px;
  border-bottom:2px solid rgb(128,125,125);
  font-size: 15px;
  outline: none;
}

.login-wrapper .form-wrapper  {
  text-transform: uppercase;
}

.login-wrapper .form-wrapper {
  text-align: center;
  padding: 5px;
  margin-top: 40px;
  background-image: linear-gradient(to right,#fbc2eb,#a6c1ee);
  color: #fff;
}

.login-wrapper .msg{
  text-align: center;
  line-height: 80px;
}

.login-wrapper .msg {
  text-decoration-line:  none;
  color: #a6c1ee;
}
.login{
  position: relative;
  left: 0px;

}
label{
  display: inline-block;
  width: 100px;
  text-align: right;
}
.input-item{
  width: 400px;
  display: inline-block;
  margin: 5px 0;
}
